dist/
*.log
client/setup/payload.zip
client/setup/app.ico
client/setup/app.rc
client/setup/app.manifest
client/setup/resources.syso
test/node_modules/
test/page.html
test/package-lock.json
test/package.json
